#root {
  position: absolute;
  max-width: 2500px;
  width: 100%;
  top: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
.port-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.port-main-container{
  display: flex;
  flex-direction: row;
  height: fit-content;
  border-bottom: 2px solid var(--emphasis);
}
.content-cont{
  display: flex;
  flex-direction: row;
  align-items: start;
  max-height: fit-content;
}
.about-me-cont{
  box-sizing: border-box;
  position: relative;
  height: 100%;
  padding: 2rem;
  width: 25%;
  text-align: left;
  background-color: var(--cards-background);
  p{
    text-align: left;
    font-size: 18px;
  }
}
#lit-tittle{
  font-size: 28px;
  color: var(--emphasis);
}
.form-cont{
  box-sizing: border-box;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 1rem;
  align-items: start;
  justify-content: space-evenly;
  width: 75%;
  height: fit-content;
}
.tools-cont{
  box-sizing: border-box;
  padding: 1rem;
  background-color: var(--rich-black);
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  height: fit-content;
  border-bottom: 1px var(--emphasis) solid;
  svg{
    width: 100px;
    height: auto;
  }
  .logo-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
  }
  .logo-info{
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: var(--pear);
    cursor: pointer;

    a{
      width: fit-content;
      height: fit-content;
    }

    p{
      filter: opacity(0);
      transform: translateY(-30px);
      z-index: 1;
      margin: 0;
      transition: all ease-in-out .5s;
      font-size: large;
    }
  }
}
.logo-info:hover{
  svg{
    filter: drop-shadow(0 0 20px hsla(43, 95%, 70%, 0.919));
  }

  p{
    color: var(--emphasis);
    filter: none;
    display: block;
    transform: translateY(1px)
  }
}
.port-header{
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  left: 0;
  background-color: var(--imperial-blue);
  box-sizing: border-box;
  margin: 0;
  padding: 2rem 4rem;
}
.header-left{
  position: relative;
  width: 75%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .hdr-name-job{
    h4{
      color: var(--emphasis);
    }
  }

  img{
    image-rendering: optimizeQuality;
    box-sizing: border-box;
    border-radius:25%;
    border: 3px solid var(--emphasis);
  }
  div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  span{
    color: var(--emphasis)
  }
}
.header-right{
  position: relative;
  width: fit-content;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}
.hdr-buttons-cont{
  display: flex;
  gap: 1rem;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--pear));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--pear));
}
.proyect-main-container{
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.big-pryct-info-container{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--cards-background);
}

.pryct-info-container{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem 1rem;
  width: 99%;
  text-align: left;

  h2{
    text-align: center;
  }

  p{
    padding: 0 1rem;
    font-size: 18px;
    text-align: justify;
  }

  a{
    margin-top: 1rem;
    font-weight: bold;
    align-self: center;
    padding: 0.5rem 1.5rem;
    border: .5px solid var(--emphasis);
    border-radius: 25px;
    font-size: 22px;
    transition: all ease-in-out .3s;
  }
  a:hover{
    background-color: var(--emphasis);
    color: var(--rich-black);
    transform: scale(1.1);
  }
}

.pics-container{
  padding: 0 1rem;
  max-width: 100%;
  display: flex;
  flex-direction: column-reverse;
  height: fit-content;
  box-sizing: border-box;
  justify-content: center;
  gap: 3%;
  align-items: center;

  img{
    width: auto;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 15px hsla(43, 95%, 70%, 0.919);
    cursor: pointer;
    object-fit: cover;
    aspect-ratio: 16/9;
  }
}
.hide-pics{
  box-sizing: border-box;
  width: 100%;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding: 1rem;
  overflow: scroll;
  overflow-y: hidden;
}
@-moz-document url-prefix(){
  .hide-pics{
    scrollbar-color: var(--emphasis) transparent;
  }
}
.hide-pics::-webkit-scrollbar{
  cursor: pointer;
  scroll-behavior: smooth;
  height: 10px;
}
.hide-pics::-webkit-scrollbar-track{
  background: var(--rich-black);
  border-radius: 10px;
}
.hide-pics::-webkit-scrollbar-thumb{
  background: var(--emphasis);
  border-radius: 15px;
}

.da-footah{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  bottom: 0;
  height: fit-content;
  background-color: var(--emphasis);
  align-items: end;
}

@media (max-width: 1024px){
  .port-header{
    padding: 1rem;
    flex-direction: column;

    .header-left{
      width: 100%;
    }
    .header-right{
      width: 100%;
    }
    .header-right h4{
      display: none;
    }
  }
  .header-left{
    flex-direction: column;
    text-align: right;
    align-items: flex-end;

    img{
      position: absolute;
      left: 0;
    }
    div{
      gap: 0;
    }
  }
  .hdr-name-job{
    gap: 0rem;
    flex-direction: row;

    h2{
      padding: 0;
    }
  }
  .hdr-contact{
    flex-direction: row;
  }
  .hdr-buttons-cont{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .content-cont{
    flex-direction: column;
    align-items: center;

    .about-me-cont{
      width: 100%;
      text-align: center;
    }
  }
  .form-cont{
    flex-direction: column;
    align-items: center;
    padding: 2%;
    width: 100%;
  }
  .tools-cont{
    width: 90%;

    .logo-cont{
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: start;
    }
  }
  .pics-container{
    img{
      height: 220px;
      width: auto;
    }
  }
}
@media (max-width: 500px){
  .header-left{
    align-items: center;
    text-align: left;
    font-size: 14px;

    img{
      position: relative;
    }
  }
  .header-right{
    padding: 0.5rem 1rem;
  }
  .about-me-cont{
    padding: 1rem;

    p{
      text-align: center;
    }
  }
  .tools-cont{
    width: 100%;
    padding: 0;
  }
  .logo-cont{
    width: 100%;
    height: 80px !important;
    align-items: center;
  }
  .logo-info{
    width: fit-content;
    svg{
      height: 50px;
      align-self: center;
    }
  }
  .pryct-info-container{
    padding: 1rem 0;
  }
  .hide-pics{
    border-radius: 25px;
  }
  .pics-container{
    img{
      height: 200px;
    }
  }
  .da-footah{
    padding-right: .5rem;
    img{
      height: 120px;
    }
  }
}